
VITE_APP_ID=

VITE_INDEXER_URL=https://sia.storage

VITE_APP_NAME=Sia Notes
VITE_APP_DESCRIPTION=An encrypted, decentralized notebook
VITE_APP_SERVICE_URL=https://example.com/sia-notes

VITE_DATA_SHARDS=10
VITE_PARITY_SHARDS=20
